.cart{
    width: 30em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 25em min-content;
    background: #fffff3;
    padding: 2em;
    justify-items: center;
    row-gap: 1em;
    position: absolute;
    transform: translate(-30%);
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 1px 1px 11px 0px rgb(0 0 0 0.3);
    border-radius: 30px;
    font-size: 8px;
}