.authentication{
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    background: lightyellow;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 62.5%;

}
.auth-left{
    background: lime;
}
.auth-right{
    background: magenta;
    align-items: start;
    
}