.checkout-list-item{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    text-align: center;
    border-bottom: 1px solid lightgray;
    
    padding-bottom: 1em;
}
.checkout-item-product{
    display: flex;
    align-items: center;
}
.checkout-item-product-image{
    height: 7em;
    width: 7em;
    background: lightyellow;
    margin-right: 2em;
}
.checkout-item-quantity{
    height: 40px;
    width: 140px;
    justify-content: center;
    flex-direction: row;
    box-shadow: -1px 2px 12px 0px rgba(0, 0, 0, 0.5)!important;
    border-radius: 50px!important;
}
.checkout-item-quantity > * {
    height: inherit;
}
