.home {
    display: grid;
    grid-template-rows: minmax(calc(100vh - var(--navbar-height)), min-content);
    grid-template-columns: repeat(2, 1fr);
    background: chocolate;

}

.homeLeft {
    background: cornflowerblue;
}

.homeRight {
    background: darkslategray;
}