.home {
    display: grid;
    grid-template-rows: minmax(calc(100vh - var(--navbar-height)), min-content);
    grid-template-columns: repeat(2, 1fr);
    background: chocolate;

}

.homeLeft {
    background: cornflowerblue;
    /* background-color: var(--light-red-color);
    background-image: url("./../../Assests/image/image-removebg-preview.png"), linear-gradient(180deg, var(--light-red-color), var(--light-green-color));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
  
}

.homeRight {
    background: darkslategray;
}