.checkout-page-container{
    font-size: 62.5%;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: calc(100vh - var(--navbar-height));
    justify-content: center;
    background: url("./../../Assests/image/checkout-bg-2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: drop-shadow(16px 16px 10px black); */
    /* filter: drop-shadow(16px 16px 10px black); */
    background-color: rgb(53, 53, 53);
    background-blend-mode: overlay;
}

.checkout{
    padding: 5em 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    row-gap: 3em;
}

.checkout-bottom-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: start;
}