*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    /* font-size: 62.5%; */
}

:root {
    --font-family-header: 'Open Sans', sans-serif;
    --font-family-para: 'Roboto', sans-serif;   
    --navbar-height: 70px;
    --light-green-color: #d5be63;
    --light-red-color: #ff7666;
    --dark-blue-color: #144faf;
    --google-login-btn: #3a82ed;
    --signin-btn: #000000;
    --hovered-category-color: #e1a62b;
    --light-lime-color: #bcd771;
    --blue-color: #4492c5;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagesContainer{
    padding-top: var(--navbar-height);
}

html a{
    text-decoration: none;
    color: inherit;
}
html a:hover{
    color: rgba(0, 0, 0, 0.7);
}

button{
    font-size: inherit;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
}