.product_card_v2 .product_card{
    width: 25em;
    padding: 10px;
    box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
    /* cursor: pointer; */
    position: relative;
    background: white;
    border-radius: 20px;
}

.product_card_v2 .product_card .product_card_image{
    width: 70%;
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    border-radius: 10px;
    margin: 10px 0;
    
}
.product_card_v2 .product_card .quantity-of-item{
    display: flex;
    align-self: start;
    margin: 10px 0 0;
}

.product_card_v2 .product_card  .add-to-cart-prics{
    /* width: 100%; */
    margin: 10px 0;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(79, 79, 79);
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 4fr;
}
.add-to-cart-prics .price-tag {
    padding:  0 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color: white !important;
    width: 27px;
    min-width: max-content;
}
.add-to-cart-prics .add-to-cart-button{
    background: none !important;
    cursor: pointer;
}